<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
    <!--目标对象-->
    <bean id="target" class="priv.noby.spring5.aop.Target"/>

    <!--切面对象-->
    <bean id="myAspect" class="priv.noby.spring5.aop.MyAspect"/>

    <!--配置织入：告诉spring框架 哪些方法(切点)需要进行哪些增强(前置、后置...)-->
    <aop:config>
        <!--声明切面-->
        <aop:aspect ref="myAspect">
            <!--抽取切点表达式-->
            <aop:pointcut id="myPointcut" expression="execution(* priv.noby.spring5.aop.*.*(..))"/>
            <!--切面：切点+通知-->
            <!--method="before"表示的是myAspect类中的before()方法为增强的代码-->
<!--            <aop:before method="before" pointcut="execution(* priv.noby.spring5.aop.*.*(..))"/>-->
<!--            <aop:after-returning method="afterReturning" pointcut="execution(* priv.noby.spring5.aop.*.*(..))"/>-->
<!--            <aop:around method="around" pointcut="execution(* priv.noby.spring5.aop.*.*(..))"/>-->
<!--            <aop:after-throwing method="afterThrowing" pointcut="execution(* priv.noby.spring5.aop.*.*(..))"/>-->
<!--            <aop:after method="after" pointcut="execution(* priv.noby.spring5.aop.*.*(..))"/>-->

            <!--使用抽取的表达式-->
            <aop:around method="around" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>