<!DOCTYPE html>
<!--使用 thymeleaf 渲染-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>templates</title>
</head>
<body>

<h2>取出 request 域中的值</h2>
<div th:text="${info}"></div>
<div>[[${info}]]</div>
<div>[(${info})]</div>
<form th:action="@{/student/selectById}">
    <input type="text" th:value="${info}"/><br>
    <input type="text" value="1" name="id"/>
    <input type="submit" value="跳转"/>
</form>

<h2>读取 HTML 标签</h2>
<div th:utext="${htmlInfo}"></div>

<h2>遍历</h2>
<table border="1px solid black">
    <tr th:each="name : ${names}">
        <td>[[${name}]]</td>
    </tr>
</table>

</body>
</html>