<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!--
    配置组件扫描器：包扫描：指定扫描哪些包中的注解
    priv.noby.note.service 扫描当前包及其子包
    priv.noby.note.service.*扫描当前包的子包
    -->
    <context:component-scan base-package="priv.noby.note.entity"/>

    <!--引入properties配置文件到spring容器中-->
    <context:property-placeholder location="classpath:db.properties"/>
</beans>